@font-face {
  font-family: "Captureit";
  src: url("/assets/fonts/capture-it.eot");
  src: url("/assets/fonts/capture-it.eot?#iefix") format("eot"), url("/assets/fonts/capture-it.woff") format("woff"), url("/assets/fonts/capture-it.ttf") format("truetype"), url("/assets/fonts/capture-it.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 999;
  background-color: black;
}

.header__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  width: 70%;
  display: none;
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__li {
  display: inline;
}

.nav__link {
  font-size: 1.8em;
  color: white;
}

.phone__link {
  font-size: 2.2em;
  color: white;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.phone__link:hover {
  color: orange;
}

.main {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.main__block {
  width: 100%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__title {
  width: 100%;
  font-size: 7.2em;
  color: white;
  font-family: "Captureit";
  font-weight: normal;
  text-align: center;
  background-image: url(/assets/images/title-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.main__text {
  text-align: center;
  font-size: 3em;
  color: white;
}

.main__btn {
  text-align: center;
}

.btn {
  width: 320px;
  height: 45px;
  background-color: orange;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

.about {
  background-color: white;
  padding: 0.1px;
}

.about__container {
  margin-top: 50px;
}

.about__title {
  font-size: 4em;
  font-family: "Captureit";
  font-weight: normal;
  text-align: center;
}

.about__content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 50px;
          column-gap: 50px;
}

.about__video {
  width: 50%;
}

.about__iframe {
  -o-object-fit: contain;
     object-fit: contain;
  width: 560px;
  height: 315px;
}

.about__info {
  width: 50%;
}

.about__h3 {
  font-size: 2em;
}

.about__text {
  margin-top: 20px;
  font-size: 1.8em;
}

.about__ul {
  margin-top: 20px;
  margin-left: 20px;
}

.about__li {
  font-size: 1.8em;
}

.program {
  margin-top: 30px;
  min-height: 1000px;
  background: url(/assets/images/line-bg.png) 0 -30% no-repeat, url(/assets/images/line-bg.png) 0 130% no-repeat, url(/assets/images/program-bg.jpg) no-repeat;
  background-size: contain, contain, cover;
}

.program__pins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__pin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__pin-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 230px;
  height: 80px;
  font-size: 1.8em;
  color: white;
  text-align: center;
  background-image: url(/assets/images/pin-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.program__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.program__title {
  width: 60%;
  font-size: 7.2em;
  font-family: "Captureit";
  color: white;
  font-weight: normal;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.program__text {
  width: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 100px;
  min-height: 350px;
  background: url(/assets/images/program-bg.png) no-repeat;
  background-size: cover;
  border: solid black 2px;
}

.program__artice {
  font-size: 1.8em;
}

.program__artice:first-child {
  margin-bottom: 20px;
}

.program__h3 {
  margin-bottom: 10px;
}

.command__container {
  margin-top: 50px;
}

.command__title {
  font-size: 4em;
  font-family: "Captureit";
  font-weight: normal;
  text-align: center;
}

.command__content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.command__card {
  width: 20%;
}

.command__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.command__h3 {
  margin: 10px;
  font-size: 1.8em;
  text-align: center;
}

.command__li {
  font-size: 1.6em;
}

.command__link {
  display: inline-block;
  margin-top: 10px;
  color: orange;
  font-size: 1.6em;
}

.schedule {
  margin-top: 30px;
  min-height: 850px;
  background: url(/assets/images/line-bg.png) 0 -30% no-repeat, url(/assets/images/line-bg.png) 0 130% no-repeat, url(/assets/images/schedule-bg.jpg) no-repeat;
  background-size: contain, contain, cover;
}

.schedule__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.schedule__title {
  width: 60%;
  font-size: 7.2em;
  font-family: "Captureit";
  color: white;
  font-weight: normal;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.schedule__text {
  width: 40%;
  margin-top: 150px;
  margin-bottom: 50px;
  padding: 100px;
  min-height: 350px;
  background: url(/assets/images/program-bg.png) no-repeat;
  background-size: cover;
  border: solid black 2px;
}

.schedule__ul {
  list-style: none;
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
}

.schedule__li + .schedule__li {
  margin-top: 10px;
}

.schedule__li + .schedule__li--info {
  margin-top: 40px;
}

.schedule__li--info + .schedule__li--info {
  margin-top: 5px;
}

.schedule__li--info {
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
