@charset "UTF-8";
@font-face {
  font-family: "Captureit";
  src: url("/assets/fonts/capture-it.eot");
  src: url("/assets/fonts/capture-it.eot?#iefix") format("eot"), url("/assets/fonts/capture-it.woff") format("woff"), url("/assets/fonts/capture-it.ttf") format("truetype"), url("/assets/fonts/capture-it.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/assets/fonts/proximanovareg.eot");
  src: local("☺"), url("/assets/fonts/proximanovareg.woff") format("woff"), url("/assets/fonts/proximanovareg.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/assets/fonts/proximanovasemibold.eot");
  src: local("☺"), url("/assets/fonts/proximanovasemibold.woff") format("woff"), url("/assets/fonts/proximanovasemibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  src: url("/assets/fonts/proximanovabold.eot");
  src: local("☺"), url("/assets/fonts/proximanovabold.woff") format("woff"), url("/assets/fonts/proximanovabold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 999;
  background-color: black;
}

@media (max-width: 776px) {
  .header {
    height: 50px;
  }
}

.header__container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  width: 70%;
}

@media (max-width: 1199px) {
  .header__nav {
    display: none;
  }
}

.nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav__li {
  display: inline;
}

.nav__link {
  font-size: 1.8em;
  color: white;
}

.phone {
  width: 220px;
}

.phone__link {
  font-size: 22px;
  color: white;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.phone__link:hover {
  color: orange;
}

.phone__img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  vertical-align: text-bottom;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.phone__img:hover {
  opacity: 0.8;
}

.logo__img {
  width: 150px;
  margin-left: 10px;
}

@media (max-width: 776px) {
  .logo__img {
    display: none;
  }
}

.logo__img--small {
  width: 30px;
  margin-left: 10px;
  display: none;
}

@media (max-width: 776px) {
  .logo__img--small {
    display: block;
  }
}

.main {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.main__block {
  width: 100%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__title {
  width: 100%;
  font-size: 7.2em;
  color: white;
  font-family: "Captureit";
  font-weight: normal;
  text-align: center;
  background-image: url(/assets/images/title-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 587px) {
  .main__title {
    font-size: 25px;
  }
}

.main__text {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  color: white;
}

.main__btn {
  text-align: center;
}

.main__down {
  width: 30px;
  position: absolute;
  bottom: 10%;
}

.main__img {
  width: 100%;
}

.btn {
  width: 320px;
  height: 45px;
  font-family: "ProximaNova";
  font-weight: bold;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: orange;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
}

.about {
  background-color: white;
  padding: 0.1px;
}

.about__container {
  margin-top: 50px;
}

.about__title {
  font-size: 4em;
  font-family: "Captureit";
  font-weight: normal;
  text-align: center;
}

.about__content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
}

@media (max-width: 1199px) {
  .about__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about__video {
  width: 50%;
}

@media (max-width: 1199px) {
  .about__video {
    width: 100%;
    text-align: center;
  }
}

.about__iframe {
  -o-object-fit: contain;
     object-fit: contain;
  width: 560px;
  height: 315px;
}

@media (max-width: 776px) {
  .about__iframe {
    width: 100%;
  }
}

.about__info {
  width: 50%;
}

@media (max-width: 776px) {
  .about__info {
    width: 95%;
  }
}

.about__h3 {
  font-size: 2em;
}

.about__text {
  margin-top: 20px;
  font-size: 1.8em;
}

.about__ul {
  margin-top: 20px;
  margin-left: 20px;
}

.about__li {
  font-size: 1.8em;
}

.program {
  margin-top: 30px;
  min-height: 1000px;
  background: url(/assets/images/line-bg.png) 0 -30% no-repeat, url(/assets/images/line-bg.png) 0 130% no-repeat, url(/assets/images/program-bg.jpg) no-repeat;
  background-size: contain, contain, cover;
}

@media (max-width: 776px) {
  .program {
    min-height: unset;
  }
}

.program__pins {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1199px) {
  .program__pins {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 776px) {
  .program__pins {
    display: none;
  }
}

.program__pin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__pin-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 230px;
  height: 80px;
  font-size: 1.8em;
  color: white;
  text-align: center;
  background-image: url(/assets/images/pin-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.program__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1199px) {
  .program__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.program__title {
  width: 60%;
  font-size: 7.2em;
  font-family: "Captureit";
  color: white;
  font-weight: normal;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1199px) {
  .program__title {
    margin-top: 50px;
    width: 100%;
  }
}

.program__text {
  width: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 100px;
  min-height: 350px;
  background: url(/assets/images/program-bg.png) no-repeat;
  background-size: cover;
  border: solid black 2px;
}

@media (max-width: 1199px) {
  .program__text {
    width: 100%;
  }
}

@media (max-width: 776px) {
  .program__text {
    padding-left: 0;
    padding-right: 0;
    background-position: center;
  }
}

.program__artice {
  font-size: 1.8em;
}

@media (max-width: 1199px) {
  .program__artice {
    text-align: center;
  }
}

.program__artice:first-child {
  margin-bottom: 20px;
}

.program__h3 {
  margin-bottom: 10px;
}

.command__container {
  margin-top: 50px;
}

.command__title {
  font-size: 4em;
  font-family: "Captureit";
  font-weight: normal;
  text-align: center;
}

.command__content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.command__card {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

.command__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.command__h3 {
  margin: 10px;
  font-size: 1.8em;
  text-align: center;
}

.command__li {
  font-size: 1.6em;
}

.command__link {
  display: inline-block;
  margin-top: 10px;
  color: orange;
  font-size: 1.6em;
}

.schedule {
  margin-top: 30px;
  min-height: 900px;
  background: url(/assets/images/line-bg.png) 0 -30% no-repeat, url(/assets/images/line-bg.png) 0 130% no-repeat, url(/assets/images/schedule-bg.jpg) no-repeat;
  background-size: contain, contain, cover;
}

@media (max-width: 1199px) {
  .schedule {
    min-height: unset;
  }
}

@media (max-width: 1199px) {
  .schedule__container {
    padding-bottom: 50px;
  }
}

.schedule__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1199px) {
  .schedule__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.schedule__title {
  width: 60%;
  font-size: 7.2em;
  font-family: "Captureit";
  color: white;
  font-weight: normal;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1199px) {
  .schedule__title {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.schedule__text {
  width: 40%;
  margin-top: 150px;
  margin-bottom: 50px;
  padding: 100px;
  min-height: 350px;
  background: url(/assets/images/program-bg.png) no-repeat;
  background-size: cover;
  border: solid black 2px;
}

@media (max-width: 1199px) {
  .schedule__text {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 776px) {
  .schedule__text {
    padding-left: 0;
    padding-right: 0;
    background-position: center;
  }
}

.schedule__ul {
  list-style: none;
  font-size: 1.8em;
  text-align: center;
  font-weight: bold;
}

.schedule__li + .schedule__li {
  margin-top: 10px;
}

.schedule__li + .schedule__li--info {
  margin-top: 40px;
}

.schedule__li--info + .schedule__li--info {
  margin-top: 5px;
}

.schedule__li--info {
  font-weight: normal;
}

.schedule__btn {
  margin-top: 40px;
}

.price__container {
  margin-top: 50px;
}

.price__title {
  margin-bottom: 50px;
  font-size: 4em;
  font-family: "Captureit";
  font-weight: normal;
  text-align: center;
}

.price__text {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.8em;
}

.price__number {
  font-size: 1.8em;
  color: orange;
  font-weight: bold;
}

.price__ol,
.price__ul {
  font-size: 1.8em;
}

.price__li {
  max-width: 600px;
  margin: 0 auto;
}

.price__h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center;
}

.price__link {
  color: orange;
}

.price__btn {
  margin-top: 40px;
}

.media {
  margin-top: 30px;
  min-height: 800px;
  background: url(/assets/images/line-bg.png) 0 -30% no-repeat, url(/assets/images/line-bg.png) 0 130% no-repeat, url(/assets/images/media-bg.jpg) no-repeat;
  background-size: contain, contain, cover;
}

@media (max-width: 1199px) {
  .media {
    min-height: unset;
  }
}

.media__container {
  padding: 1px;
}

.media__content {
  margin-top: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1199px) {
  .media__content {
    margin-top: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;
  }
}

.media__title {
  width: 45%;
  min-width: 600px;
  font-size: 7.2em;
  font-family: "Captureit";
  color: white;
  font-weight: normal;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 1199px) {
  .media__title {
    width: 100%;
    min-width: unset;
    margin-bottom: 0.5em;
  }
}

.media__video {
  width: 55%;
}

@media (max-width: 1199px) {
  .media__video {
    width: 100%;
    text-align: center;
  }
}

.media__iframe {
  -o-object-fit: contain;
     object-fit: contain;
  width: 560px;
  height: 315px;
  border: solid white 5px;
}

@media (max-width: 776px) {
  .media__iframe {
    width: 100%;
    border: none;
  }
}

.foto__title {
  font-size: 4em;
  font-family: "Captureit";
  font-weight: normal;
  text-align: center;
}

.foto__slider {
  margin-top: 50px;
  text-align: center;
}

.foto__image {
  max-width: 650px;
}

@media (max-width: 776px) {
  .foto__image {
    width: 100%;
  }
}

.map__container {
  margin-top: 50px;
}

.map__title {
  font-size: 4em;
  font-family: "Captureit";
  font-weight: normal;
  text-align: center;
}

.map__text {
  max-width: 800px;
  margin: 20px auto;
  font-size: 1.6em;
}

@media (max-width: 776px) {
  .map__text {
    width: 95%;
  }
}

.map__iframe {
  width: 100%;
  height: 600px;
}

.footer {
  background-color: black;
  color: white;
  height: 100px;
}

@media (max-width: 776px) {
  .footer {
    height: 50px;
  }
}

.footer__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

@media (max-width: 776px) {
  .footer__container {
    gap: 10px;
  }
}

.footer__text {
  max-width: 700px;
  text-align: center;
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .footer__text {
    font-size: 1em;
    max-width: 300px;
  }
}

@media (max-width: 776px) {
  .footer__text {
    max-width: unset;
  }
}

@media (max-width: 776px) {
  .footer__phone {
    display: none;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__window {
  position: relative;
  width: 400px;
  height: 300px;
  max-width: 100%;
  border-radius: 10px;
  background: #fff;
  -webkit-animation-name: animate;
          animation-name: animate;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.modal__title {
  margin-top: 20px;
  font-size: 2em;
  text-align: center;
}

.modal__form {
  margin-top: 20px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__input {
  padding-left: 20px;
  width: 300px;
  height: 45px;
  outline-color: orange;
}

.modal__close {
  position: absolute;
  right: -15px;
  top: -15px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: solid black 1px;
  background: white;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.modal__close:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modal__img {
  width: 40%;
}

@-webkit-keyframes animate {
  from {
    top: -320px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animate {
  from {
    top: -320px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 10px;
  font-family: "ProximaNova";
}

@media (max-width: 776px) {
  body {
    font-size: 8px;
  }
}

@media (max-width: 587px) {
  body {
    font-size: 7px;
  }
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
