.about {
  background-color: white;
  padding: 0.1px;
}

.about__container {
  margin-top: 50px;
}

.about__title {
  font-size: 4em;
  font-family: "Captureit";
  font-weight: normal;
  text-align: center;
}

.about__content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  gap: 50px;

  @media (max-width: $lg) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.about__video {
  width: 50%;
  @media (max-width: $lg) {
    width: 100%;
    text-align: center;
  }
}

.about__iframe {
  object-fit: contain;
  width: 560px;
  height: 315px;

  @media (max-width: $sm) {
    width: 100%;
  }
}

.about__info {
  width: 50%;
  @media (max-width: $lg) {
    margin-top: 50px;
  }
  @media (max-width: $sm) {
    width: 95%;
  }
}

.about__h3 {
  font-size: 2em;
}

.about__text {
  margin-top: 20px;
  font-size: 1.8em;
}

.about__ul {
  margin-top: 20px;
  margin-left: 20px;
}

.about__li {
  font-size: 1.8em;
}
