.btn {
  width: 320px;
  height: 45px;
  font-family: "ProximaNova";
  font-weight: bold;
  font-size: 18px;

  margin-left: auto;
  margin-right: auto;
  display: block;

  background-color: orange;
  text-transform: uppercase;

  outline: none;
  border: none;

  cursor: pointer;
}
