@font-face {
  font-family: "Captureit";
  src: url("/assets/fonts/capture-it.eot");
  src: url("/assets/fonts/capture-it.eot?#iefix") format("eot"),
    url("/assets/fonts/capture-it.woff") format("woff"),
    url("/assets/fonts/capture-it.ttf") format("truetype"),
    url("/assets/fonts/capture-it.svg#webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
