.footer {
  background-color: black;
  color: white;
  height: 100px;
}

.footer__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.footer__text {
  max-width: 700px;
  text-align: center;
  font-size: 1.4em;

  @media (max-width: $lg) {
    font-size: 1em;
    max-width: 300px;
  }
  @media (max-width: $sm) {
    display: none;
  }
}
