.foto__title {
  font-size: 4em;
  font-family: "Captureit";
  font-weight: normal;
  text-align: center;
}

.foto__slider {
  margin-top: 50px;
  text-align: center;
}

.foto__image {
  max-width: 650px;
}
