.header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 999;
  background-color: black;
}

.header__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  width: 70%;

  @media (max-width: 1023px) {
    display: none;
  }
}

.nav__ul {
  display: flex;
  justify-content: space-evenly;
}

.nav__li {
  display: inline;
}

.nav__link {
  font-size: 1.8em;
  color: white;
}

.phone {
  width: 210px;
}

.phone__link {
  font-size: 2.2em;
  color: white;
  transition: color 0.2s linear;

  &:hover {
    color: orange;
  }
}

.phone__img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  vertical-align: text-bottom;
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.8;
  }
}
