.main {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.main__block {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main__title {
  width: 100%;
  font-size: 7.2em;
  color: white;
  font-family: "Captureit";
  font-weight: normal;
  text-align: center;
  background-image: url(/assets/images/title-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.main__text {
  text-align: center;
  font-size: 3em;
  color: white;
}

.main__btn {
  text-align: center;
}
