.price__container {
  margin-top: 50px;
}

.price__title {
  margin-bottom: 50px;
  font-size: 4em;
  font-family: "Captureit";
  font-weight: normal;
  text-align: center;
}

.price__text {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.8em;
}

.price__number {
  font-size: 1.8em;
  color: orange;
  font-weight: bold;
}

.price__ol,
.price__ul {
  font-size: 1.8em;
}

.price__li {
  max-width: 600px;
  margin: 0 auto;
}

.price__h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center;
}

.price__link {
  color: orange;
  transition: filter 0.2s linear;
  &:hover {
    filter: brightness(0.5);
  }
}

.price__btn {
  margin-top: 40px;
}
