@import "font";
@import "header";
@import "main";
@import "btn";
@import "about";
@import "program";

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
