$lg: 1199px;
$sm: 776px;
$xs: 587px;

@import "font";
@import "header";
@import "main";
@import "btn";
@import "about";
@import "program";
@import "command";
@import "schedule";
@import "price";
@import "media";
@import "foto";
@import "map";
@import "footer";
@import "modal";

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 10px;
  font-family: "ProximaNova";

  @media (max-width: $sm) {
    font-size: 8px;
  }
  @media (max-width: $xs) {
    font-size: 7px;
  }
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
